--trusted-host download.pytorch.org
SQLAlchemy==2.0.30
aiohttp==3.9.5
aiosignal==1.3.1
attrs==23.2.0
frozenlist==1.4.1
greenlet==3.0.3
langchain==0.2.2
langchain-text-splitters==0.2.1
langchain_community==0.2.3
langchain_huggingface
langgraph
langchain_openai
langchain_ai21
langchainhub
multidict==6.0.5
numpy==1.26.4
yarl==1.9.4
MarkupSafe==2.1.5
diskcache==5.6.3
jinja2==3.1.4
llama-cpp-python==0.2.77
dataclasses-json==0.6.6
marshmallow==3.21.2
mypy-extensions==1.0.0
typing-inspect==0.9.0
transformers
huggingface-hub
sentence-transformers
chromadb
jupyterlab
unstructured
unstructured[pdf]
pdf2image
pytesseract
pyyaml
pypdf
playwright
pandas
scipy
tensorflow
tf-slim>=1.1
sentencepiece